:root {
    --primary-color: crimson

}

.header__cart{
    width: 100px;
    text-align: center;
    
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart--notice{
    top: -5px;
    right: -3px;
    position: absolute;
    padding: 1px 7px;
    font-size: 15px;
    font-weight: 500;
    line-height: 13px;
    background-color: #fff;
    color: red;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
  
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: -3px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn linear .2s;
    cursor: default;
    z-index: 2;
}
.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -28px;
    border-width: 19px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.header__cart-icon{
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 4px;

}

/* HAS CART */
.header__cart-heading{
   text-align: left;
   margin: 8px 0 8px 10px;
   font-size: 1.4rem;
   color: #999;
   user-select: none;
   cursor: default;
   font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 45px;
    height: 45px;
    margin: 12px;
    

}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
  
}

.header__cart-item-name{
    font-size: 1.4rem;
    color: #ccc;
    line-height: 2rem;
    max-height: 4rem;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-right: 16px;
    flex: 1;
    text-align: left;

}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-muti{
    font-size: 1rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
   
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  
}

.header__cart-item-des{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    color: #ccc;
    font-weight: 300;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
