.footer {
    border-top: 4px solid #2deea3;
}
.footer__secon {
    padding: 8px 0;
    background-color: #F5F5F5;
}



.footer__text-p {
    text-align: center;
    font-size: 1rem;
    color: #7c8089;
}